vless://{{ client_uuid }}@{{ manager_address }}:443?security=reality&encryption=none&pbk={{ x25519_public }}&host=www.microsoft.com%3A443&headerType=none&fp=chrome&type=tcp&flow=xtls-rprx-vision&sni=www.microsoft.com&sid={{ rand_id }}#%D0%B4%D1%83%D1%80%D0%BA%D0%B0